body{ background:#efefef; margin: 0; }
a{ color:inherit; text-decoration:none; }
* { margin:0px; padding: 0px; }
hr{ height: 0px; border: none; border-top:1px solid #DEDEDE; }
ul,ol{ list-style:none; }
h1,h2,h3,h4,h5,h6,h7{ font-weight: normal; }
.clearfix::after{ content:''; display:block; clear:both; }


.top-nav-bar{ padding: 20px 16px 20px 16px; position: fixed; /*脱离文档流，不在影响父元素的行高*/ top: 0; left: 0; width: 100%; }
.top-nav-bar-inner{ padding: 0 192px; }
.top-nav-bar nav{ padding-bottom: 3px; padding-top: 2px; }
.top-nav-bar nav>ul{ list-style:none; margin:0;padding:0; }
.top-nav-bar nav>ul>li{ float:left; margin-left:17px; margin-right:17px; }
.top-nav-bar nav>ul>li>a{ font-size:12px; color: #B7B7B7; font-weight:bold; border-top:3px solid transparent; border-bottom:3px solid transparent; padding-bottom:4px; padding-top:4px; display:block; }
.top-nav-bar nav>ul>li>a:hover{ border-bottom:3px solid #e06567; }
.top-nav-bar .logo{ font-size:24px; font-family:"Arial Black"; padding-top: 3px; padding-bottom: 4px; }
.top-nav-bar .logo .rs{ margin-right:2px; color: #E6686A; }
.top-nav-bar .logo .card{ color: #9A9DA2; }
.banner{ height: 515px; background-image: url(./img/rs-cover.jpg); background-position: center center; background-size: cover;  /*背景图大小自适应*/ }
.banner .mask{ height: 515px; background-color: rgba(44,51,64,0.8); }


.user-card{ /*border: 2px solid red;*/ max-width: 930px; /*z最大宽度可以自适应，width不可以*/ margin-left: auto; /*让一个div水平居中*/ margin-right: auto; background-color: #fff; box-shadow: 3px 7px 19px -4px rgba(0,0,0,0.45); }
.user-card .welcome{ background: #E6686A; color: white; display: inline-block; /*width: 70px; height: 29px; line-height: 29px; text-align: center; 规定宽度,加字就会出问题，所以从内往外，在现有基础上加padding*/ padding:4px 16px; line-height: 22px; /*确定一下别的兼容性*/ position:relative; margin-bottom: 26px; }
.user-card .welcome .triangle{ display: block; border:10px solid transparent; width:0px; border-left-color:#E6686A; border-top-width:0px; position:absolute; /*脱离文档流第二次*/ left:4px; top:100%; }
.user-card .picture{ float: left; margin-right: 64px; }
.user-card .text{ float: left; width: 460px; }
.user-card .text hr{ margin:22px 0px; }
.user-card .picture-text{ padding: 50px; }
.user-card dl dt, .user-card dl dd{ float: left; padding: 5px 0px; }
.user-card dl dt{ width:30%; font-weight: bold; }
.user-card dl dd{ width: 70%; color: #9da0a7; }
.user-card  > footer.media{ background: #E6686A; text-align: center; }
.user-card  >footer.media >a{ display: inline-block; line-height: 20px; padding: 8px 8px; border-radius: 50%; /*做个圆圈。。。*/ margin: 32px; }
.user-card > footer{ margin: 0px; }
.user-card  > footer.media > a:hover{ background: rgba(0, 0, 0, 0.1); }
.user-card svg{ width:20px; height:20px; fill: white; vertical-align: top;/*上下高度不一致，设置一个top就一样了？？？*/ }


body > main{ margin-top: -345px; }
body>main .dr-wrapper { text-align: center; }
body>main .dr { font-size: 14px; line-height: 16px; padding: 21px 55px; border: 1px solid #cdcfd1; background: #efefef; display: inline-block; border-radius: 2px; color: #3d4451; font-weight: bold; margin: 32px 0; transition: box-shadow 0.2s; /*阴影变化的时间*/ }
body>main .dr:hover { box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.5); }
.self-introduction{ max-width: 930px; margin-left: auto; margin-right: auto; text-align: center; font-family: kai; line-height: 1.8; font-size: 18px; }


section.skills,section.portfolio{ width: 930px; margin-left: auto; margin-right: auto; margin-top: 60px; }
.h2style{ color: #3d4451; font-size: 34px; line-height: 1.2; font-weight: 600; text-align: center; }
section.skills > h3{ font-size: 14px; line-height: 1.1; padding-right: 40px; }
section.skills >ol{ background: white; box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5); padding: 44px 50px 10px; margin-top: 30px; }
section.skills >ol>li{ float: left; width: 48%; box-sizing: border-box;/* 把border算入上面的百分比*/ }
section.skills >ol>li:nth-child(even){ /*:伪类，可以选中某些标签，状态   ::伪元素比如：::before*/ float: right; }
section.skills .progressBar{ height: 5px; background-color: #FAE1E1; border-radius: 2px; margin:4px  0px 40px; }
section.skills .progress{ height: 100%; /*和外面的一样高*/ background: #e8676b; width: 70%; }


section.portfolio{ text-align: center; margin-bottom: 100px; }
section.portfolio >nav{ text-align: center; display: inline-block; vertical-align: top; margin-top: 30px; }
section.portfolio >nav>ol{ margin:0 auto; display: inline-block; vertical-align: top; /*inline-block之后会有个空隙，必须加这一句*/ }
section.portfolio >nav>ol>li{ float: left; margin-left: 40px; cursor: pointer; }
section.portfolio >nav>ol>li:first-child{ margin-left: 0px; }
section.portfolio >nav .bar{ height: 5px; background:white; margin-top: 5px; margin-bottom: 30px; border-radius: 2px; }
section.portfolio >nav .bar-inner{ height: 100%; background: #e8676b; border-radius: 2px; transition: all 0.3s; }
section.portfolio > nav .bar.state-1 .bar-inner{ margin-left: 0; width: 50px; }
section.portfolio > nav .bar.state-2 .bar-inner{ margin-left: 65px; width: 50px; }
section.portfolio > nav .bar.state-3 .bar-inner{ margin-left: 140px; width: 107px; }
section.portfolio .works{ position: relative; }
section.portfolio .works >div{ position: absolute; } 
